@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
    height: 100%;
    /* display: flex;
    -webkit-display: flex; */
    /* justify-content: centre; */
}

.heroContainer {
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.heroImage {
    height: 100%;
    z-index: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.heroTitle {
    /* height: 100%; */
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    mix-blend-mode: darken;
}