/* aleo-400normal - latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local('Aleo Regular '),
      local('Aleo-Regular'),
      url('../fonts/aleo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/aleo-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* cutive-400normal - latin */
@font-face {
  font-family: 'Cutive';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cutive Regular '),
    local('Cutive-Regular'),
    url('../fonts/cutive-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/cutive-latin-400.woff') format('woff'); /* Modern Browsers */
}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, Cutive, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 6vmin;
    line-height: 'normal';
}

h2 {
    font-family: -apple-system, Cutive, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    font-size: 12px;
    font-family: Aleo;
}
